.image-uploader-tooltiped-image-preview {
    position: relative;

    &__image {
        width: 10em;
        height: 10em;
        background: no-repeat center;
        background-size: contain;
        background-color: lightgray;
    }

    &__tooltip-pointer {
        padding-bottom: .5em;
        position: absolute;
        pointer-events: none;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: center;

        &__pointer {
            width: 2em;
            height: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: auto;
            background-color: white;
            font-weight: bold;
            border: 2px black outset;
            border-radius: 50%;
            cursor: help;

        }

        &__pointer:hover + &__tooltip,
        &__tooltip:hover {
            display: block;
        }

        &__tooltip {
            display: none;
            pointer-events: auto;
            background-color: white;
            position: absolute;
            bottom: calc(100% + .5em);
            text-align: center;
            padding: .5em;
            text-overflow: ellipsis;
            overflow: hidden;
            border: 1px black solid;
        }
    }
}