.image-uploader-tooltiped-image-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    border: 1px black solid;
    padding: .5em;

    &__tooltip {
        margin: .5em 0;
        max-width: 10em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__buttons {
        margin-top: .5em;
        display: flex;
        flex-direction: column;
        width: 100%;

        button {
            width: 100%;
            margin-bottom: .5em;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}