.image-uploader-list-route {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__list {
        margin: 0 0 1em 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
}