.image-uploader-preview-route {
    padding: 2em;

    &__back-link {
        text-align: center;
    }

    .image-uploader-tooltiped-image-preview {
        width: 20em;
        max-width: 100%;
        margin: auto;
        margin-bottom: 2em;

        &__image {
            width: 100%;
            padding-top: 100%;
            height: auto;
        }
    }
}

