.image-uploader-errors-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    &__item {
        width: 100%;
        padding: .5em;
        background-color: red;
        color: white;
        margin-top: .5em;
        text-align: center;
    }
}