.image-uploader-root {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    > * {
        flex-shrink: 0;
    }

    &__header {

    }

    &__main {
        flex-grow: 1;
        flex-shrink: 0;
    }
}