html,
body,
#root {
    font-size: 100%;
    width: 100%;
    height: 100%;
    min-width: 320px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

button {
    font-size: 1.25em;
    line-height: 1.5;
}
