.image-uploader-tooltiped-image-editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;

    > * {
        margin-bottom: 2em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__preview {
        padding: 1em;
        border: 1px black solid;
        display: flex;
        flex-direction: column;
        align-items: center;

        > * {
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__image {
            width: 10em;
            height: 10em;
            background: no-repeat center;
            background-size: contain;
        }

        &__pointer-enabled {
        }
    }

    &__file-picker {
        border: 1px black solid;
        width: 10em;
        height: 10em;
        position: relative;

        input[type="file"] {
            display: block;
            width: 100%;
            height: 100%;
            opacity: 0;
        }

        &__area-disclaimer {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            z-index: -1;
        }
    }
}